@model NoteApp.ViewModels.NoteViewModel

@{
    ViewData["Title"] = "Home Page";
}
@*Im Video ab 14:34 Zusammenspiel zwischen Contoller und View erklärt*@

@*Herausfinden wie diese Tag Helper Funktioniern. WOher kommen die Klassen wie Container Node*@
@foreach (var item in Model.notes)
{
<div class="container note">
    <div class="row">
        <span class="col-md-1 col-xs-2">@Html.DisplayFor(modelItem => item.FinishDate)</span>
        <span class="col-md-8 col-xs-8">
            <span>@Html.DisplayFor(modelItem => item.Title)</span>
            <span class="rating pull-right">
                <starrating disablecheck="true" rating="@item.Importance" itemid="@item.ID"></starrating>
            </span>
        </span>
    </div>
    <div class="row">
        <span class="col-md-1 col-xs-2">
            @if (item.Finished)
            {
<span>Done</span>
                    /**/

                }
                <span>Not Done</span>
#line hidden
        </span>
        <textarea disabled="true" class="col-md-8 col-xs-8">@Html.DisplayFor(modelItem => item.Text)</textarea>
        <a asp-action="Edit" class="btn btn-primary col-md-3 col-xs-3" asp-route-id="@item.ID">Edit</a>
    </div>
</div>
}