@model NoteApp.Models.Notes

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .note {
        border-style: solid;
        border-width: 1px;
        padding-bottom: 6px;
        margin-bottom: 20px;
    }

    .headerbottons {
        margin-bottom: 1.5em;
    }
</style>

<div class="container">
    <div class="row headerbottons">
        @*Diese col-md-8 und so, teilen eine Row auf. Siehe http://holdirbootstrap.de/examples/grid/ und https://getbootstrap.com/docs/3.3/css/#grid*@
        <a asp-controller="Note" asp-action="Create" class="btn btn-primary col-md-2 col-xs-4">Create New</a>
        <a asp-action="Index" asp-route-style="@ViewData["NextStyle"]" class="btn btn-primary col-md-2 col-xs-4 pull-right">Change Style</a>
    </div>
    
    <div class="row">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["SortOrderFinishValue"]" class="btn btn-primary col-md-2 col-xs-12">@ViewData["SortOrderFinishText"]</a>
        <a asp-action="Index" asp-route-sortOrder="@ViewData["SortOrderCreatedValue"]" class="btn btn-primary col-md-2 col-xs-12">@ViewData["SortOrderCreatedText"]</a>
        <a asp-action="Index" asp-route-sortOrder="@ViewData["SortOrderImportanceValue"]" class="btn btn-primary col-md-2 col-xs-12">@ViewData["SortOrderImportanceText"]</a>

        <a asp-action="Index" asp-route-hideFinished="@ViewData["HideFinishedValue"]" class="btn btn-primary col-md-2 col-xs-12 pull-right">@ViewData["HideFinishedText"]</a>

    </div>
</div>

<br><br>
@foreach (var item in Model.notes)
{
    <div class="container note">
        <div class="row">
            <span class="col-md-1 col-xs-2">@Html.DisplayFor(modelItem => item.FinishDate)</span>
            <span class="col-md-8 col-xs-8">
                <span>@Html.DisplayFor(modelItem => item.Title)</span>
                <span class="rating pull-right">
                    <starrating disablecheck="true" rating="@item.Importance" itemid="@item.ID"></starrating>
                </span>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1 col-xs-2">
                @if (item.Finished)
                {
                    <img src="~/images/checked.gif" alt="Finish" />
                }
                else
                {
                    <img src="~/images/unchecked.gif" alt="Not Finish" />
                }
            </span>
            @*Edit Button der Textare angleichen. Textare disablen*@
            <textarea disabled class="col-md-8 col-xs-8">@Html.DisplayFor(modelItem => item.Text)</textarea>

            <a asp-controller="Note" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary col-md-3 col-xs-3 test">Edit</a>

            @if (item.Importance == 1)
            { 
                <img src="~/images/star1-5.gif" alt="Ignore" />
            }
            @if (item.Importance == 2)
            {
                <img src="~/images/star2-5.gif" alt="not Importent" />
            }
            @if (item.Importance == 3)
            {
                <img src="~/images/star3-5.gif" alt="Normal" />
            }
            @if (item.Importance == 4)
            {
                <img src="~/images/star4-5.gif" alt="Importent" />
            }
            @if (item.Importance == 5)
            {
                <img src="~/images/star5-5.gif" alt="Very Importent" />
            }

        </div>

</div>
}
